.partnership-hero-section {
  position: fixed; /* Keeps the hero section fixed behind the header */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  background-image: url("/Partnership.png"); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensures the hero section stays behind other content */
}

.partnership-hero-heading {
  position: absolute; /* Position the heading absolutely within the hero section */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center both horizontally and vertically */
  color: var(--Website-black-color); /* Adjust color for readability */
  font-size: var(--font-size-menu-heading);
  font-weight: var(--font-weight-super-heading);
  text-align: center; /* Center text alignment */
  z-index: 1; /* Ensure heading stays above the background image */
}

.partnership-heading {
  text-align: center;
  font-size: var(--font-size-page-heading);
  font-weight: var(--font-weight-super-heading);
  margin-bottom: 20px;
  color: var(--Website-black-color);
  margin-top: 8rem;
}

.partnership-content-continer {
  background-color: var(--Website-body-color);
  width: 100%;
}

.partnership-content {
  margin-top: 100vh; /* Push content below the hero section */
  padding: 200px;
  position: relative;
  width: 100%;
}

.partnership-page-content-text {
  text-align: center;
  padding: 20px;
  font-size: var(--font-size-page-content);
  background: var(--Website-body-color);
  margin-bottom: 3rem;
}

.partnership-page-content-text-lasttwo {
  text-align: left;
  padding: 20px;
  font-size: var(--font-size-page-content);
  background: var(--Website-body-color);
  margin-bottom: 3rem;
}

.dual-pic-container {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.large-pic-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
