.fomr-container {
  width: 100%;
  padding: 1rem;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.dash-form {
  background-color: #f3eeed;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 67%;
  border-radius: 18px;
}

.dash-inputfield-group-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.dash-inputfield-group-column {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.dash-form-label {
  width: 20%;
}

.dash-form-input {
  width: 100%;
  height: 34px;
}

.dash-form-input-message {
  width: 100%;
  height: 134px;
}

.dash-form-input-message-larger {
  width: 100%;
  height: 334px;
}

.dash-form-conatiner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dash-form-button {
  padding: 0.6rem;
  background-color: rgba(255, 255, 255, 0.795);
  border: 1px solid var(--Website-black-color);
  border-radius: 10px;
  font-family: inherit;
  font-size: var(--font-size-menufooter-left-text);
  font-weight: var(--font-weight-super-heading);
}

.error-message {
  display: flex;
  padding-left: 8rem;
  color: red;
  font-size: 12px;
}

.goto {
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0.795);
  color: #505055;
}

.alert-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
