.projects-hero-section {
  position: fixed; /* Keeps the hero section fixed behind the header */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  background-image: url("/Projectsback.webp"); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensures the hero section stays behind other content */
}

.projects-hero-heading {
  position: absolute; /* Position the heading absolutely within the hero section */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center both horizontally and vertically */
  color: var(--Website-black-color); /* Adjust color for readability */
  font-size: var(--font-size-menu-heading);
  font-weight: var(--font-weight-super-heading);
  text-align: center; /* Center text alignment */
  z-index: 1; /* Ensure heading stays above the background image */
}

.projects-content-continer {
  background-color: var(--Website-body-color);
  width: 100%;
}

.projects-content {
  margin-top: 100vh; /* Push content below the hero section */
  padding: 200px;
  position: relative;
  width: 100%;
}

.project-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.margintop {
  margin-top: 20rem;
}

.left-section-project {
  width: 30%;
  padding-top: 8rem;
}

.project-heading {
  padding-top: 1.2rem;
  border-top: 2px solid var(--Website-black-color);
  color: var(--Website-black-color); /* Adjust color for readability */
  font-size: var(--font-size-page-subheading);
  font-weight: var(--font-weight-super-heading);
}

.project-description {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  color: var(--Website-black-color); /* Adjust color for readability */
  font-size: var(--font-size-menufooter-left-text);
  font-weight: var(--font-weight-super-heading);
}

.project-button {
  margin-top: 1rem;
  border: 1px solid var(--Website-black-color);
  padding: 0.5rem;
  background-color: rgb(255, 255, 255, 0);
  box-shadow: 1px 3px 16px -5px rgb(0, 0, 0, 25);
}
