.project-section {
  display: flex;
  justify-content: space-between;
  /* margin: 3rem 0; */
  padding: 2rem;
  background-color: #f3eeed;
  border-radius: 10px;
}

.project-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.odd-project .project-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.even-project .project-content {
  display: flex;
  flex-direction: row-reverse; /* Reverse row for even projects */
}

.left-section-project {
  width: 50%;
  padding: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  border-top: 2px solid black;
}

.right-section-project {
  width: 50%;
  padding: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.project-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project-description {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.project-button {
  padding: 0.75rem 1.5rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.projects-hero-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/Projectsback.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.projects-hero-section.show {
  opacity: 1;
}

.projects-hero-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Website-black-color);
  font-size: var(--font-size-menu-heading);
  font-weight: var(--font-weight-super-heading);
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.projects-hero-heading.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.05);
}

.projects-content-container {
  background-color: var(--Website-body-color);
  width: 100%;
}

.projects-content {
  margin-top: 100vh;
  padding: 50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
