.visionandmission-hero-section {
  position: fixed; /* Keeps the hero section fixed behind the header */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust as needed */
  background-image: url("/visionandmission.webp"); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ensures the hero section stays behind other content */
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out;
}

.visionandmission-hero-section.show {
  opacity: 1; /* Fully visible */
}

.missionvision-hero-heading {
  position: absolute; /* Position the heading absolutely within the hero section */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center both horizontally and vertically */
  color: var(--Website-black-color); /* Adjust color for readability */
  font-size: var(--font-size-menu-heading);
  font-weight: var(--font-weight-super-heading);
  text-align: center; /* Center text alignment */
  z-index: 1; /* Ensure heading stays above the background image */
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.missionvision-hero-heading.show {
  opacity: 1; /* Fully visible */
  transform: translate(-50%, -50%) scale(1.05); /* Slight zoom effect */
}

.visionandmission-heading {
  text-align: center;
  font-size: var(--font-size-page-heading);
  font-weight: var(--font-weight-super-heading);
  margin-bottom: 20px;
  color: var(--Website-black-color);
  margin-top: 8rem;
}

.visionandmission-content-continer {
  background-color: var(--Website-body-color);
  width: 100%;
}

.visionandmission-content {
  margin-top: 100vh; /* Push content below the hero section */
  padding: 200px;
  position: relative;
  width: 100%;
}

.visionandmission-page-content-text {
  text-align: center;
  padding: 20px;
  font-size: var(--font-size-page-content);
  background: var(--Website-body-color);
  margin-bottom: 3rem;
}

.motto-container {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
